SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN0Z3NjY2Jxa2N3ZWVvdWpvZHFlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgxMzIzOTIsImV4cCI6MjA5MzcwODM5Mn0.REHduc9JhQFTi4gPmJr0sHodvoV8XRwy08A8VptZ8WI"
SUPABASE_URL="https://ctgsccbqkcweeoujodqe.supabase.co"
VITE_SUPABASE_PROJECT_ID="ctgsccbqkcweeoujodqe"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN0Z3NjY2Jxa2N3ZWVvdWpvZHFlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgxMzIzOTIsImV4cCI6MjA5MzcwODM5Mn0.REHduc9JhQFTi4gPmJr0sHodvoV8XRwy08A8VptZ8WI"
VITE_SUPABASE_URL="https://ctgsccbqkcweeoujodqe.supabase.co"
